---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main class="m-auto max-w-screen-lg py-16 text-center md:pt-12">
  <div class="md:mt-8">
    <h1
      class="text-5xl font-bold tracking-tight lg:text-6xl xl:text-7xl xl:tracking-tighter">
      Supercharge your CX
    </h1>
    <p class="m-auto mt-4 text-3xl tracking-tight">
      24/7 customer support AI. Powered by your knowledge
    </p>
    <div class="mt-24 flex flex-col justify-center gap-3 sm:mt-56 sm:flex-row">
      <Link
        href="/demo"
        target="_blank"
        class="flex items-center justify-center gap-2 font-medium"
        rel="noopener">
        <Icon class="h-10 w-10 text-white" name="ri:messenger-fill" />
        Demo options
      </Link>
    </div>
    <div class="m-auto mt-3 grid max-w-[300px] grid-cols-1 gap-6 text-[13px]">
      <p>No sign up or credit card required. <br />Demo in your browser.</p>
    </div>
  </div>
</main>
